main{
    background-color: hsl(207, 33%, 95%);
    height: 850px;
}
.header{
    height: 100px;
    text-align: center;
    display: flex;
}
.content{
    
    margin: 20px 400px 20px 200px;
    display: flex;
    width: 500px;
    /* border: 2px solid black; */
    

}
.commune{
    margin: auto ;
    padding-left: 60px;
}
.nav{
    margin: auto;
    text-decoration: none;
    list-style: none;

}
 .nav1{
    
    padding: 15px;
    text-decoration: none;
    color: gray; 
}
.nav2{

    padding: 15px;
    text-decoration: none;
    color: gray;
    
}
.nav3{
    
    padding: 15px;
    text-decoration: none;
    color: gray;
    
}
.nav4{
    
    padding: 15px;
    text-decoration: none;
    color: gray;
    
}
.nav5{
    
    padding: 15px;
    text-decoration: none;
    color: gray;
    
}
.nav6{
    
    padding: 15px;
    text-decoration: none;
    color: gray;
    
}
.nav7{
    
    padding: 15px;
    text-decoration: none;
    color: gray; 
    background-color: blue;
}

.nav7:hover {
    background-color: blue;

}
.phone{
    width: 500px;
    margin-left: 400px;
    /* border: 2px solid black; */
}
.we{
    padding: 10px;
    border-radius: 60px;
    color: white;
    font-family: monospace;
    background-color: hsl(255deg 43% 28%);
    width: 480px;
    padding-left: 20px;
}
#learn{
    color: white;
}
.build{
    
    padding: 10px;
    color: hsl(255deg 43% 28%);
    font-size: 15px;
    font-family: sans-serif;
    width: 400px;

}
.com{
     padding: 20px;
     color:darkgray;
     width: 350px;
}
.form{
    width: 400px;
    padding: 20px;
    display: flex;
    align-content: space-between;
}
#box{
    padding: 15px;
    border-radius: 5px;
}
#button{
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(255deg 43% 28%);
    color: white;

}
.footer{
    margin-left: 200px;
}
/* .total{
    
} */




